html{
	height: 100%;
}

body {
	background-color: #fafafa;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Verdana', sans-serif;
	
} 

a{
	text-decoration: none;
	color: #000;
}

.fotoT{
	width: 300px;
	padding:50px;
}

.content {
	width: 1000px;
	margin: 5em auto;
	padding: 50px;
	background-color: #fff;
	border-radius: 0.2em;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.fixed{
	position:fixed;
	top:0;
	margin:0 auto;
	width:100%;
	padding: 0.2em;
	border-radius: 2;

}

.menu {
	list-style: none;
	width: 1000px;
	margin:10px auto;
	}
	.menu-item{
		display: inline-block;
		margin-right: 1em;
	}
		.menu-link{
			font-weight: bold;
		}
		.menu-link:hover{
			text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
		}

.absolut{
	position: fixed;
	bottom: 0;
	margin:0;
	width: 100%;
	padding: 0.2em;
	border-radius: 0;
}

#form {
	margin: 0 auto;
	height: 50px;
	width: 100%;
	max-width: 700px;
	border: 1px solid;
	border-radius: 5px;
	padding-top: 20px;
}

.box{
	float: left;
	width: 300px;
	padding-left: 10px;

}

.footer{
	list-style: none;
	
	}.footer-link{
		font-weight: bold;
		display: inline-block;
		margin-right: 1em;
		padding: 40px;
	}.footer-link:hover{
		text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
	}

